@page "/"

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>

</AuthorizeView>
